.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}