.medios{
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

.tituloContacto{
    margin: 4rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin:4rem;
    gap: 1rem;
    
}

@media only screen and (max-width: 768px){
    .tituloContacto{
        margin: 1rem;
    }
    .medios{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
        margin-bottom: 2rem;
    }
    .formulario{
        margin: 1rem;
    }
}