.estudioDetalle{
  display: flex;
  justify-content: center;
}

.card {
  margin: 4vw;
  width:80vw;
  border-color: black;
}

.card-body {
  border-style: double;
}

.link {
  color: white;
  text-decoration: none;
}

.botonesProyectos {
  display: flex;
  gap: 3vw;
}
