.info {
  padding: 3vh;
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  padding: 5vh 10vw;
  width: 100%;
}


p{
  font-size: larger;
  padding-right: 3vw;
}

.boton2 {
  margin-top: 1vh;
}

.imgcv {
  width: 30vw;
}


@media only screen and (max-width: 768px) {
  .info{
    flex-direction: column;
    padding: 0px; 
  }

  p{
    padding-right: 0;
  }

  .link {
    width: 60%;
  }

  .imgcv {
    width: 70vw;
  }

}
