.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}

.linkCertificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.certificados{
    width: 30rem;
}