/* .nv-bg{
  background-color: none !important;
} */
.css-14epxft-MuiPaper-root{
    background-color: rgba(0, 0, 0, 0.5)!important;

}
.css-p5vlqu{
      background-color: rgba(0, 0, 0, 0.5)!important;

}
.navContainer {
  display: flex;
  justify-content: space-evenly;
}

.text {
  color: white;
  text-decoration: none;
}

.title {
  color: white !important;
}

.navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}

.me-auto {
  gap: 3vw;
  align-items: center;
}

#navegadores {
  margin-right: 0 !important;
}

.imgNavbar {
  width: 80px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  margin-left: 2vw;
  margin-right: 2vw;
}

@media only screen and (max-width: 768px) {
  .imgNavbar {
    display: none;
  }
}
