.navContainer{
    display: flex;
    justify-content: space-evenly;
}

.text{
    color: white;
    text-decoration: none;
}

.title{
    color: white;
    font-weight: 700;
}

.navbar-collapse{
    justify-content: flex-end;
    align-items: center;
}

.me-auto{
    gap: 3vw;
    align-items: center;
 

}

#navegadores{
    margin-right: 0!important;
}



.imgNavbar{
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin-left: 2vw;
    margin-right: 2vw;
}


@media only screen and (max-width: 768px){
    .imgNavbar{
        display: none;
    }
}